<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        My webpage
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Welcome to </h1>
    <!-- Form for interaction with RESTful API -->
    <form action="/api/users" method="POST">
        <input type="text" name="username" placeholder="Enter username" required>
        <button type="submit">Create User</button>
    </form>
</body>

</html>